@model GaptWebsite.Models.Timetable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timetable</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Unit Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyUnit.UnitName)
        </dd>
        <dt>
            Unit ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyUnit.UnitID)
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tTime)
        </dd>

        <dt>
            Day of week
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tDate)
        </dd>
        <dt>
            Room
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.RoomFloor)
        </dd>

        <dt>
            Date Modified
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt>
             Lectures
        </dt>
        <dd>
            @foreach (var x in Model.StudyUnit.Lecturers)
            {
                <p>@x.LecturerName</p>
            }
        </dd>


    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
