@model GaptWebsite.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title - Details</h2>

<div>
    <p style="float:left"><img src="~/Content/time.png" width="20" alt="time" /></p>
    <h4 style="margin-left:25px">
        @Model.Dtime
        <img src="~/Content/location.png" width="20" alt="location" />
        @Model.Location
    </h4>
    <p>@Model.Ndescription</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
    </p>
}

<p>
    @Html.ActionLink("< Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
